@using TicariOtomasyon.Models.Siniflar
@model List<Departman>

    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/AdminLayout.cshtml";
    }

    <table class="table table-bordered" style="margin-top:20px;">
        <tr>
            <th>ID</th>
            <th>DEPARTMAN</th>
            <th>SİL</th>
            <th>GÜNCELLE</th>
            <th>DETAYLAR</th>
        </tr>
        @foreach (var d in Model)
        {
            <tr>
                <td>
                    @d.DepartmanID
                </td>
                <td>
                    @d.DepartmanAdi
                </td>
                <td>
                    <a href="/Departman/DepartmanSil/@d.DepartmanID" class="btn btn-danger">Sil</a>
                </td>
                <td>
                    <a href="/Departman/DepartmanGetir/@d.DepartmanID" class="btn btn-warning">Güncelle</a>
                </td>
                <td>
                    <a href="/Departman/DepartmanDetay/@d.DepartmanID" class="btn btn-default"style="background-color:darksalmon;color:white">Detaylar</a>
                </td>
            </tr>
        }
    </table>
    <a href="/Departman/DepartmanEkle" class="btn btn-primary">Departman Ekle</a>


